@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fanwood+Text:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


nav.navbar.navbar-expand-lg {
    background: rgba(33, 54, 116, .8);
}

body{
     font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a.navbar-brand.text-white {
    font-size: 30px !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hover-card:hover{
    color: white;
    background-image: url(../Image/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .position-relative.banner-bg.overflow-hidden.p-3.p-md-5.text-center.bg-body-tertiary {
        height: 182px !important;
    }

    .information-text,.account-text,.section-text,.subscribe-text{
        font-size: 15px;
    }

    ul.footer-nav > li > a {
        font-size: 12px;
    }

    .monthly-text{
        font-size: 13px;
    }
    
}